body {
	background-image: url('https://cdn.wallpapersafari.com/34/7/g3yDqc.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
 	background-position: center center;
	margin: 0;
	padding: 0;
}

.container {
	background-color: #f1b4b6;
	border: 0.75px solid #110505;
	border-radius: 4px;
	box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	margin: 50px auto;
	padding: 30px;
	text-align: center;
}

h1 {
	color: #444;
	font-family:Trebuchet MS, sans-serif;
	font-size: 2.0rem;
	margin-bottom: 20px;
}

p {
	color: #444;
	font-family: Palatino Linotype,serif;
	font-size: 0.25.0rem;
	margin-bottom: 25px;
}
video {
    display: block;
    margin: 0 auto;
}
.heart-container {
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #f09, #e66);
    border-radius: 50% 50% 0 50% / 55% 55% 0 55%;
    animation: vibrate 1s ease-in-out infinite;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.heart:before {
    top: -5px;
    left: -5px;
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #e66, #f09);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    filter: blur(2px);
}

.heart:after {
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: linear-gradient(45deg, #f09, #e66);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    filter: blur(2px);
}

@keyframes vibrate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
