body {
	background-image: url('https://cdn.wallpapersafari.com/34/7/g3yDqc.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
 	background-position: center center;
	margin: 0;
	padding: 0;
}

.container {
	background-color: #f1b4b6;
	border: 0.75px solid #110505;
	border-radius: 4px;
	box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	margin: 50px auto;
	padding: 30px;
	text-align: center;
}

h1 {
	color: #444;
	font-family:Trebuchet MS, sans-serif;
	font-size: 2.0rem;
	margin-bottom: 20px;
}

p {
	color: #444;
	font-family: Palatino Linotype,serif;
	font-size: 0.25.0rem;
	margin-bottom: 25px;
}
video {
    display: block;
    margin: 0 auto;
}
.heart {
  width: 100px;
  height: 100px;
  background-color: #f09;
  border-radius: 50%;
  transform: rotate(45deg);
  position: relative;
}

.heart:before {
  /* Remove this pseudo-element */
}

.heart:after {
  /* Remove this pseudo-element */
}

.heart .top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #f09;
  border-radius: 50%;
}

.heart .bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #f09;
  border-radius: 50%;
  transform: rotate(90deg);
}
